<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_anticipation.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,503},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,326},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,857},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_meow.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,680},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_meow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,503},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_meow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,326},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_anticipation_sitting_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,163},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_fail_grabbing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,163},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_fail_grabbing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,163},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_fail_grabbing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,163},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_sad_meow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_sad_meow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,517},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_sad_sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_scared.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,163},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_scratch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_scratch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,0},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_sitting_blink_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_sitting_blink_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>cat_turn_around.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_sitting-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e0560a9d4d2e6078a459697c3b4282$</string>
            <key>textureFileName</key>
            <string>cat_sitting-hd.png</string>
        </dict>
    </dict>
</plist>
