<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,260},{162,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,155}}</string>
                <key>sourceSize</key>
                <string>{162,155}</string>
            </dict>
            <key>chapter_select_01_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{121,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,243}}</string>
                <key>sourceSize</key>
                <string>{121,243}</string>
            </dict>
            <key>chapter_select_02_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,122},{137,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,239}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>chapter_select_03_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{121,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,243}}</string>
                <key>sourceSize</key>
                <string>{121,243}</string>
            </dict>
            <key>chapter_select_04_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{137,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,239}}</string>
                <key>sourceSize</key>
                <string>{137,239}</string>
            </dict>
            <key>chapter_select_05_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,243}}</string>
                <key>sourceSize</key>
                <string>{121,243}</string>
            </dict>
            <key>chapter_select_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,260},{165,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,238}}</string>
                <key>sourceSize</key>
                <string>{165,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapters.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6190657d2f90cfbcb8153a1fe74dd107$</string>
            <key>textureFileName</key>
            <string>chapters.pvr.ccz</string>
        </dict>
    </dict>
</plist>
