<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_select_01_country.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,514},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_01_country_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,514},{163,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{163,231}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_02_city.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{244,343},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_02_city_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,757},{163,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{163,231}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_03_jungle.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_03_jungle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{163,231}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{163,231}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_04_plane_jump.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{244,172},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_04_plane_jump_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_05_enemy_base.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
            <key>chapter_select_05_enemy_base_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{171,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,243}}</string>
                <key>sourceSize</key>
                <string>{171,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter_comics.jpg</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d6c57b9cb9bc92ba834c62f026f329$</string>
            <key>textureFileName</key>
            <string>chapter_comics.jpg</string>
        </dict>
    </dict>
</plist>
