<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,517},{323,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,309}}</string>
                <key>sourceSize</key>
                <string>{323,309}</string>
            </dict>
            <key>chapter_select_01_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{241,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,485}}</string>
                <key>sourceSize</key>
                <string>{241,485}</string>
            </dict>
            <key>chapter_select_02_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,242},{274,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,478}}</string>
                <key>sourceSize</key>
                <string>{274,478}</string>
            </dict>
            <key>chapter_select_03_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{241,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,485}}</string>
                <key>sourceSize</key>
                <string>{241,485}</string>
            </dict>
            <key>chapter_select_04_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{274,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,478}}</string>
                <key>sourceSize</key>
                <string>{274,478}</string>
            </dict>
            <key>chapter_select_05_stacks.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,485}}</string>
                <key>sourceSize</key>
                <string>{241,485}</string>
            </dict>
            <key>chapter_select_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,517},{329,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,475}}</string>
                <key>sourceSize</key>
                <string>{329,475}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapters-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec0ba7216adb4823a01787d05f49916$</string>
            <key>textureFileName</key>
            <string>chapters-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
