<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_select_01_country.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1027},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_01_country_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1027},{324,462}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{324,462}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_02_city.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{487,685},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_02_city_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1513},{324,462}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{324,462}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_03_jungle.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,685},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_03_jungle_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1513},{324,462}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{324,462}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_04_plane_jump.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{487,343},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_04_plane_jump_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_05_enemy_base.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
            <key>chapter_select_05_enemy_base_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{342,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,486}}</string>
                <key>sourceSize</key>
                <string>{342,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter_comics-hd.jpg</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efefcac037e2fc464278e50f0ba14503$</string>
            <key>textureFileName</key>
            <string>chapter_comics-hd.jpg</string>
        </dict>
    </dict>
</plist>
