<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daryll_cat_win_hugging_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,0},{174,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,270}}</string>
                <key>sourceSize</key>
                <string>{174,270}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,611},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,605},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,549},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,549},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,549},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,435},{105,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,84}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,379},{105,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,84}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{105,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,84}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
            <key>dayrll_cat_win_hugging.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{267,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,225}}</string>
                <key>sourceSize</key>
                <string>{267,225}</string>
            </dict>
            <key>dayrll_cat_win_hugging_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,312}}</string>
                <key>sourceSize</key>
                <string>{152,312}</string>
            </dict>
            <key>dayrll_coin_celebration.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,526},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_fail_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,225},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>dayrll_fail_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,333},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dayrll_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,634},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>dayrll_fallen.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,678},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>dayrll_fallen_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,602},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>dayrll_grappling_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,189},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>dayrll_grappling_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,297},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dayrll_pants_pull_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,520},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_pants_pull_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,464},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,271},{78,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,111}}</string>
                <key>sourceSize</key>
                <string>{78,111}</string>
            </dict>
            <key>dayrll_parachute_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,690},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>dayrll_parachute_fallen.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,526},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>dayrll_parachute_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,153},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>dayrll_parachute_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,261},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dayrll_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,464},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_full_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_half_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,441},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,379},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_parachute_full_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,356},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_parachute_half_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,271},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dayrll_standing_swing.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,350},{105,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,84}}</string>
                <key>sourceSize</key>
                <string>{105,84}</string>
            </dict>
            <key>dayrll_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,690},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>dayrll_swinging_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7df3e4fd98f8ad90a1293444d0acf76$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
