<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daryll_cat_win_hugging_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{348,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,540}}</string>
                <key>sourceSize</key>
                <string>{348,540}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1258},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1213},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_parachute_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1202},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1090},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1090},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_stage_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1090},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,866},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,754},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>dayrll_about_to_jump_swinging_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>dayrll_cat_win_hugging.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{534,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,449}}</string>
                <key>sourceSize</key>
                <string>{534,449}</string>
            </dict>
            <key>dayrll_cat_win_hugging_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{303,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,623}}</string>
                <key>sourceSize</key>
                <string>{303,623}</string>
            </dict>
            <key>dayrll_coin_celebration.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1045},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_fail_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,446},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>dayrll_fail_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,659},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>dayrll_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1370},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>dayrll_fallen.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1381},{150,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,101}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>dayrll_fallen_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1339},{150,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,101}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>dayrll_grappling_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,375},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>dayrll_grappling_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,588},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>dayrll_pants_pull_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1034},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_pants_pull_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,922},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,541},{156,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,221}}</string>
                <key>sourceSize</key>
                <string>{156,221}</string>
            </dict>
            <key>dayrll_parachute_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1258},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>dayrll_parachute_fallen.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1188},{150,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,101}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
            <key>dayrll_parachute_roll01.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,304},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>dayrll_parachute_roll02.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,517},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>dayrll_standing.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,922},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_full_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,922},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_half_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,877},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_parachute.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,754},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_parachute_full_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,709},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_parachute_half_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,541},{180,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,167}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>dayrll_standing_swing.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,698},{210,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>dayrll_swinging.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1045},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>dayrll_swinging_failinair.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1258},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bab31dca940326eaef8fa8be36ac8d2$</string>
            <key>textureFileName</key>
            <string>character-hd.png</string>
        </dict>
    </dict>
</plist>
