<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_country_wooden_plank_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1443},{150,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,24}}</string>
                <key>sourceSize</key>
                <string>{150,28}</string>
            </dict>
            <key>1_country_wooden_plank_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,231},{150,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,18}}</string>
                <key>sourceSize</key>
                <string>{150,18}</string>
            </dict>
            <key>1_country_wooden_plank_squashed.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1745},{300,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,34}}</string>
                <key>sourceSize</key>
                <string>{300,34}</string>
            </dict>
            <key>1_country_wooden_plank_very_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,886},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>4_base_exterior_brass_spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,886},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>bamboo_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1745},{300,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,28}}</string>
                <key>sourceSize</key>
                <string>{300,28}</string>
            </dict>
            <key>bamboo_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2013},{171,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,28}}</string>
                <key>sourceSize</key>
                <string>{171,28}</string>
            </dict>
            <key>boost_bar_bottom_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1594},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>boost_bar_colour.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1995},{371,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,17}}</string>
                <key>sourceSize</key>
                <string>{371,17}</string>
            </dict>
            <key>boost_bar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,382},{372,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,17}}</string>
                <key>sourceSize</key>
                <string>{372,17}</string>
            </dict>
            <key>boost_bar_top_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1657},{391,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,28}}</string>
                <key>sourceSize</key>
                <string>{391,28}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1391},{382,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,98}}</string>
                <key>sourceSize</key>
                <string>{382,98}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1491},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>button_back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1491},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1391},{382,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,98}}</string>
                <key>sourceSize</key>
                <string>{382,98}</string>
            </dict>
            <key>button_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1130},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_music_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1162},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1249},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_music_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1043},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1162},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>button_play_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1032},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>button_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1491},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>button_reset_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1491},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>button_speakers_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1043},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_speakers_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1162},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_speakers_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1263},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_speakers_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1918},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_vibrate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1831},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_vibrate_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1744},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_vibrate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1657},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>button_vibrate_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1654},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>city_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{979,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,35}}</string>
                <key>sourceSize</key>
                <string>{979,35}</string>
            </dict>
            <key>clouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,343},{778,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,465}}</string>
                <key>sourceSize</key>
                <string>{778,465}</string>
            </dict>
            <key>collect_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,755},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>country_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{980,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,62}}</string>
                <key>sourceSize</key>
                <string>{980,62}</string>
            </dict>
            <key>down_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1043},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>failbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{500,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,10}}</string>
                <key>sourceSize</key>
                <string>{500,10}</string>
            </dict>
            <key>flight_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1162},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>girder_pivot_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,624},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>hanging_swing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,809},{222,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,700}}</string>
                <key>sourceSize</key>
                <string>{222,700}</string>
            </dict>
            <key>inca_head_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,154},{76,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,19}}</string>
                <key>sourceSize</key>
                <string>{76,19}</string>
            </dict>
            <key>inca_head_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,672},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
            <key>jungle_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{980,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{980,54}}</string>
                <key>sourceSize</key>
                <string>{980,54}</string>
            </dict>
            <key>killbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,942},{500,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,10}}</string>
                <key>sourceSize</key>
                <string>{500,10}</string>
            </dict>
            <key>level_end_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1249},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>level_end_coin_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,809},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>parachute_free_falling.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1019},{255,371}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,371}}</string>
                <key>sourceSize</key>
                <string>{263,371}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1043},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1107},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{55,54}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>pause_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1052},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{55,54}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>pivot_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2013},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>platfrom_girder_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2005},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>platfrom_girder_horizontal_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1179},{311,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,42}}</string>
                <key>sourceSize</key>
                <string>{311,42}</string>
            </dict>
            <key>platfrom_girder_horizontal_wide.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,312},{311,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,42}}</string>
                <key>sourceSize</key>
                <string>{311,42}</string>
            </dict>
            <key>platfrom_girder_vertical_extra_tall.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,0},{42,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,311}}</string>
                <key>sourceSize</key>
                <string>{42,311}</string>
            </dict>
            <key>platfrom_girder_vertical_tall.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1491},{42,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,165}}</string>
                <key>sourceSize</key>
                <string>{42,165}</string>
            </dict>
            <key>reset_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,997},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{55,54}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>reset_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,942},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{55,54}}</string>
                <key>sourceSize</key>
                <string>{105,104}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1162},{52,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,16}}</string>
                <key>sourceSize</key>
                <string>{52,16}</string>
            </dict>
            <key>side_smoke_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1043},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>side_smoke_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1292},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>size_smoke_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1292},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>smoke_burst.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1553},{100,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>spikes_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1490},{258,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{258,35}}</string>
                <key>sourceSize</key>
                <string>{264,35}</string>
            </dict>
            <key>step_ladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1391},{187,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,161}}</string>
                <key>sourceSize</key>
                <string>{187,161}</string>
            </dict>
            <key>teleport_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,883},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>teleport_turquoise.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,824},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>transition_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1594},{400,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,381}}</string>
                <key>sourceSize</key>
                <string>{400,381}</string>
            </dict>
            <key>tutorial_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{960,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,188}}</string>
                <key>sourceSize</key>
                <string>{960,188}</string>
            </dict>
            <key>tutorial_circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,803},{178,215}}</string>
                <key>offset</key>
                <string>{44,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{178,215}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1755},{194,229}}</string>
                <key>offset</key>
                <string>{36,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{194,229}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_circle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1526},{218,257}}</string>
                <key>offset</key>
                <string>{24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,46},{218,257}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_circle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1745},{264,301}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{264,301}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,573},{178,229}}</string>
                <key>offset</key>
                <string>{44,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{178,229}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_finger_pressing.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1553},{172,201}}</string>
                <key>offset</key>
                <string>{47,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{172,201}}</string>
                <key>sourceSize</key>
                <string>{266,303}</string>
            </dict>
            <key>tutorial_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,343},{179,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,229}}</string>
                <key>sourceSize</key>
                <string>{179,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d6a4391e395b46ba7e578464a303f5$</string>
            <key>textureFileName</key>
            <string>game-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
