<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inca_head_cork_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,70},{39,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,59}}</string>
                <key>sourceSize</key>
                <string>{39,59}</string>
            </dict>
            <key>inca_head_cork_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{39,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,59}}</string>
                <key>sourceSize</key>
                <string>{39,59}</string>
            </dict>
            <key>inca_head_green_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,35},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>inca_head_green_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,35},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>inca_head_red_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>inca_head_red_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inca_head.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db0b29da48e2a51132b92595959114cc$</string>
            <key>textureFileName</key>
            <string>inca_head.png</string>
        </dict>
    </dict>
</plist>
