<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Teleport_head_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,107},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
            <key>Teleport_head_mouth_shut_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,0},{106,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,129}}</string>
                <key>sourceSize</key>
                <string>{106,129}</string>
            </dict>
            <key>Teleport_head_mouth_shut_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,129}}</string>
                <key>sourceSize</key>
                <string>{106,129}</string>
            </dict>
            <key>Teleport_head_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teleport-hd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a593d9eddef3b085c812b1dbef4d0a24$</string>
            <key>textureFileName</key>
            <string>teleport-hd.png</string>
        </dict>
    </dict>
</plist>
