<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>tutorial_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>tutorial_circle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,0},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>tutorial_circle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>tutorial_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>tutorial_finger_pressing.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tutorial_finger.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d20348d49700720ce7a7fe89dc065c03$</string>
            <key>textureFileName</key>
            <string>tutorial_finger.png</string>
        </dict>
    </dict>
</plist>
