<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,939},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>back_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,895},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>boost_bar_bottom_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,304},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,14}}</string>
                <key>sourceSize</key>
                <string>{11,14}</string>
            </dict>
            <key>boost_bar_colour.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,358},{186,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,9}}</string>
                <key>sourceSize</key>
                <string>{186,9}</string>
            </dict>
            <key>boost_bar_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,117},{186,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,9}}</string>
                <key>sourceSize</key>
                <string>{186,9}</string>
            </dict>
            <key>boost_bar_top_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,591},{196,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,14}}</string>
                <key>sourceSize</key>
                <string>{196,14}</string>
            </dict>
            <key>bug_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,525},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,656},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,859},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>button_back_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,807},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,606},{191,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,49}}</string>
                <key>sourceSize</key>
                <string>{191,49}</string>
            </dict>
            <key>button_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,851},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_music_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,807},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,939},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_music_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,895},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,233},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>button_play_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,167},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>button_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,859},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>button_reset_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,807},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>button_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,458},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>button_small_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,325},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>button_speakers_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,851},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_speakers_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,760},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_speakers_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,807},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_speakers_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,955},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,911},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_trophy_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,760},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_vibrate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,760},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_vibrate_off_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,760},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_vibrate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,763},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>button_vibrate_on_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,719},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>chapter_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,638},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>clouds.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,291},{389,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,233}}</string>
                <key>sourceSize</key>
                <string>{389,233}</string>
            </dict>
            <key>collect_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,291},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>comic_price_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,717},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>down_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>failbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,321},{250,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,5}}</string>
                <key>sourceSize</key>
                <string>{250,5}</string>
            </dict>
            <key>flight_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>girder_pivot_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,694},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>inca_head_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,319},{38,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{38,10}</string>
            </dict>
            <key>inca_head_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,591},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>killbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,194},{250,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,5}}</string>
                <key>sourceSize</key>
                <string>{250,5}</string>
            </dict>
            <key>large_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,975},{111,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,49}}</string>
                <key>sourceSize</key>
                <string>{111,49}</string>
            </dict>
            <key>level_end_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,983},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>level_end_coin_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,983},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>level_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,437},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>level_frame_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,525},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>level_frame_coin_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,562},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>level_frame_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,379},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>level_frame_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,321},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>level_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,667},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>loading_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,719},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>loading_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,495},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>open_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{427,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,290}}</string>
                <key>sourceSize</key>
                <string>{427,290}</string>
            </dict>
            <key>particleTexture.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>pause_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,751},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>pause_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,698},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>pivot_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,545},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>platfrom_girder_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,299},{64,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,21}}</string>
                <key>sourceSize</key>
                <string>{64,21}</string>
            </dict>
            <key>platfrom_girder_horizontal_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,706},{156,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,21}}</string>
                <key>sourceSize</key>
                <string>{156,21}</string>
            </dict>
            <key>platfrom_girder_horizontal_wide.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,706},{156,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,21}}</string>
                <key>sourceSize</key>
                <string>{156,21}</string>
            </dict>
            <key>platfrom_girder_vertical_extra_tall.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,626},{21,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,156}}</string>
                <key>sourceSize</key>
                <string>{21,156}</string>
            </dict>
            <key>platfrom_girder_vertical_tall.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{21,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,83}}</string>
                <key>sourceSize</key>
                <string>{21,83}</string>
            </dict>
            <key>reset_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,525},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>reset_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,525},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,167},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,8}}</string>
                <key>sourceSize</key>
                <string>{26,8}</string>
            </dict>
            <key>side_smoke_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>side_smoke_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>size_smoke_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>small_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,117},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>smoke_burst.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,975},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>step_ladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,22},{94,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>teleport_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,608},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>teleport_turquoise.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,578},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>transition_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{200,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,191}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>wide_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,922},{121,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,52}}</string>
                <key>sourceSize</key>
                <string>{121,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748a6e169bb63573a89b4b2d702a3b25$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
